<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>crosswater media</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


<script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
</head>
<body id="<%= params[:action] %>">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrapper">
    <div id="contents">
        <div id="right_area">
            <div id="menu_box">

               <h1>
                 <a href="#">
                   <img src="images/logo.png" alt="crosswater media" />
                 </a>
               </h1>
               <div id="gm_area">
               <ul id="gm">
                 <% if params[:action] == "home" -%>
                   <li id="gm_home" class="gm_main_menu"><a href="/home" class="selected">Home</a></li>
                 <% else -%>
                   <li id="gm_home" class="gm_main_menu"><a href="/home">Home</a></li>
                 <% end -%>
                 
                 <% if params[:action] == "marketing_branding" -%>
                   <li id="gm_marketing_branding" class="gm_main_menu selected"><a href="/marketing_branding" class="selected" >Marketing and Branding</a></li>
                 <% else -%>
                   <li id="gm_marketing_branding" class="gm_main_menu"><a href="/marketing_branding"  >Marketing and Branding</a></li>
                 <% end -%>
                 
                 <% if params[:action] == "complete_brand_experience" -%>
                   <li id="gm_sub_complete_brand_experience" class="gm_sub_menu"><a href="/complete_brand_experience" class="selected" >Marketing and Branding</a></li>
                 <% else -%>
                   <li id="gm_sub_complete_brand_experience" class="gm_sub_menu"><a href="/complete_brand_experience">Marketing and Branding</a></li>
                 <% end -%>
                 
                 <% if params[:action] == "media_production" -%>
                   <li id="gm_media_production" class="gm_main_menu"><a href="/media_production" class="selected">Media Production</a></li>
                 <% else -%>
                   <li id="gm_media_production" class="gm_main_menu"><a href="/media_production">Media Production</a></li>
                 <% end -%>
                 
                 <% if params[:action] == "about" -%>
                   <li id="gm_about" class="gm_main_menu"><a href="/about" class="selected">About</a></li>
                 <% else -%>
                   <li id="gm_about" class="gm_main_menu"><a href="/about">About</a></li>
                 <% end -%>
                 
                 <% if params[:action] == "clients" -%>
                   <li id="gm_sub_clients" class="gm_sub_menu"><a href="/clients" class="selected">Clients</a></li>
                 <% else -%>
                   <li id="gm_sub_clients" class="gm_sub_menu"><a href="/clients">Clients</a></li>
                 <% end -%>
                 
                 <% if params[:action] == "inspiration" -%>
                   <li id="gm_inspiration" class="gm_main_menu"><a href="/inspiration" class="selected">Inspiration</a></li>
                 <% else -%>
                   <li id="gm_inspiration" class="gm_main_menu"><a href="/inspiration">Inspiration</a></li>
                 <% end -%>
                 
                 <% if params[:action] == "contact" -%>
                   <li id="gm_contact" class="gm_main_menu"><a href="/contact" class="selected">Contact</a></li>
                 <% else -%>
                   <li id="gm_contact" class="gm_main_menu"><a href="/contact">Contact</a></li>
                 <% end -%>
               </ul>
               </div>
               
            </div>
 
            <div id="cwm_ad_area">
              
              <div id="cwm_ads" class="slides_container">
                <div>
                    <a href="/complete_brand_experience"><img src="images/ads_banners/CWM_ab_1cbe.png" alt="Banners" /></a>
                </div>
                <div>
                    <a href="/clients"><img src="images/ads_banners/CWM_ab_2about.png" alt="Banners" /></a>
                </div>
                <div>
                    <a href="/marketing_branding"><img src="images/ads_banners/CWM_ab_3branding.png" alt="Banners" /></a>
                </div>
                <div>
                    <a href="/inspiration"><img src="images/ads_banners/CWM_ab_4inspiration.png" alt="Banners" /></a>
                </div>
                <div>
                    <a href="/media_production"><img src="images/ads_banners/CWM_ab_5mediaproduction.png" alt="Banners" /></a>
                </div>
                <div>
                    <a href="/blog"><img src="images/ads_banners/CWM_ab_6blog.png" alt="Banners" /></a>
                </div>
                <div>
                    <a href="/marketing_branding"><img src="images/ads_banners/CWM_ab_7marketing.png" alt="Banners" /></a>
                </div>
              </div>
              
            </div>
            
            <div id="blog_area">
              <% if params[:action] == "blog" -%>
              <a href="/blog" class="selected">Blog</a>
              <% else -%>
              <a href="/blog">Blog</a>
              <% end -%>
            </div>
            <div id="sns_area">
              <div class="fb-like-box" data-href="http://www.facebook.com/pages/Crosswater-Media/148179838535070" data-width="256px" data-show-faces="true" data-stream="false" data-header="false"></div>
            </div>
        </div>
        <div id="left_area">
          <%= yield %>
        </div>
        <div style="clear: both"></div>
        <div id="footer">
            <div id="ft_company">©2011 Crosswater Media</div>
            <ul id="ft_menu">
                <li class="first"><a href="/" class="<%= "selected" if params[:action] == "home" %>">HOME</a></li>
                <li><a href="/marketing_branding" class="<%= "selected" if params[:action] == "marketing_branding" or params[:action] == "complete_brand_experience" %>">MARKETING & BRANDING</a></li>
                <li><a href="/media_production" class="<%= "selected" if params[:action] == "media_production" %>">MEDIA PRODUCTION</a></li>
                <li><a href="/about" class="<%= "selected" if params[:action] == "about" or params[:action] == "clients" %>">ABOUT</a></li>
                <li><a href="/inspiration" class="<%= "selected" if params[:action] == "inspiration" %>">INSPIRATION</a></li>
                <li><a href="/contact" class="<%= "selected" if params[:action] == "contact" %>">CONTACT</a></li>
            </ul>
        </div>
    </div>

</div>
    

</body>

</html>
